<div class='comments container card-header card w-50'>
  {{#each this}}
    <section class='comment card'>
      <div class='meta card'>
        {{user.username}} on {{format_date created_at}}
      </div>
      <div class='text card'>
        {{comment_text}}
      </div>
    </section>
  {{/each}}
</div>