<div class='comments card-header container card w-50'>
  {{#each this}}
    <section class='comment container card'>
      <div class='meta container card'>
        {{user.username}} on {{format_date created_at}}
      </div>
      <div class='text container card'>
        {{comment_text}}
      </div>
    </section>
  {{/each}}
</div>