<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>The console.log Blog!</title>
    <link rel="icon" type="image/x-icon" href="/images/circle-brand.png">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <div class='wrapper'>
    <a id="logo" href='/' class="page-title card-header container mt-5"><span>console.log Blog</span></a>
      <header>
        <nav class='nav'>
          <form id="search-form" class="container" type="text"> 
          <input type="text" id="query" name="query" placeholder="Search...">
          </form>
          <button id="home-btn" href='/' class='btn-no-style btn card w-10 m-1 mt-3 mr-2'>Home</button>
          <a id='about-btn' href='/about' class='btn-no-style btn card w-10 m-1 mt-3 mr-2'>About</a>
          {{#if loggedIn}}
            <a href='/dashboard' id="main-dashboard" class="btn card w-10 m-1 mt-3 mr-2">dashboard</a>
            <button id='logout' class='btn-no-style btn card w-10 m-1 mt-3 mr-2'>logout</button>
          {{else}}
            <a  id="login" class="btn card w-10 m-1 mt-3 mr-2" href='/login'>login</a>
          {{/if}}
        </nav>
      </header>
      <main>
        {{{body}}}
      </main>
      <footer class="container">
        <h3>Thanks for logging on!</h3>
      </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.0/axios.min.js" integrity="sha512-bPh3uwgU5qEMipS/VOmRqynnMXGGSRv+72H/N260MQeXZIK4PG48401Bsby9Nq5P5fz7hy5UGNmC/W1Z51h2GQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src='/javascript/search.js'></script>
    {{#if loggedIn}}
      <script src='/javascript/logout.js'></script>
    {{/if}}
  </body>

</html>