<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>The console.log Blog!</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <div class='wrapper'>
      <header>
        <h1 class="logo">
          <a href='/' class="page-title card-header container">The console.log Blog</a>
        </h1>
        <nav class='nav'>
          {{#if loggedIn}}
            <a href='/dashboard' class="btn card w-10 m-1">dashboard</a>
            <button id='logout' class='btn-no-style btn card w-5 m-1'>logout</button>
          {{else}}
            <a href='/login'>login</a>
          {{/if}}
        </nav>
      </header>
      <main>
        {{{body}}}
      </main>
      <footer class="container">
        <h4>Thanks for visiting!</h4>
      </footer>
    </div>

    {{#if loggedIn}}
      <script src='/javascript/logout.js'></script>
    {{/if}}
  </body>

</html>