<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>The console.log Blog!</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <div class='wrapper'>
    <a id="logo" href='/' class="page-title card-header container mt-5"><span>console.log Blog</span></a>
      <header>
        <nav class='nav'>
          {{#if loggedIn}}
            <a href='/dashboard' class="btn card w-10 m-1 mt-3">dashboard</a>
            <button id='logout' class='btn-no-style btn card w-5 m-1 mt-3'>logout</button>
          {{else}}
            <a  class="btn card w-10 m-1 mt-3" href='/login'>login</a>
          {{/if}}
        </nav>
      </header>
      <main>
        {{{body}}}
      </main>
      <footer class="container">
        <h3>Thanks for logging on!</h3>
      </footer>
    </div>

    {{#if loggedIn}}
      <script src='/javascript/logout.js'></script>
    {{/if}}
  </body>

</html>