<div class="container card about-container">
  <h1>This is the console.log blog!</h1>
  <br />
  <h3>This blog is desgined for those with a love for tech and coding.</h2>
  <h3>Feel free to click login to log on and get your blog on!</h2>
  <br />
  <p>Write a post to share your favorite tech news, projects, or insights</p>
  <p>Or just browse through our articles on the homepage</p>
  <p>You can also vote and leave comments on articles to connect further</p>
  <p>Happy coding and happy logging!</p>
  <br />
  <br />
  <a href="https://github.com/K-G-J" target="_blank">
  <h4>Contact: Kate J</h4>
  </a>
</div>
