   <h2 class="card card-header container" id="your-posts-header">Your Posts
    <button class="btn w-20" id="add-new">Add a post</button>
    {{!-- <div class="container">
      <a href="/dashboard/user/{{post.user.id}}" class="edit-link btn container card" id="edit-user">Edit Account</a>
    </div> --}}
  </h2>
  {{#if posts.length}}
<section>
  <div>
    {{#each posts as |post|}}
    <div class="card container post-content p-5 mt-5">
      {{> post-info post}}
    </div>
    <div class="container">
      <a href="/dashboard/edit/{{post.id}}" class="edit-link btn container card mt-2" id="edit-btn">Edit post</a>
    </div>
    {{/each}}
</section>
{{/if}}
<div id="new-post-form">
    <h2 class="card-header container">New Post</h2>
  <form class='new-post-form form-input form-label container' enctype='multipart/form-data'>
    <div>
      <label for='post-title'>Title</label>
      <input class="card w-25 h-5" type='text' id='post-title' name='title' />
    </div>
    <div>
      <label for='post-url'>Link</label>
      <input class="card w-25 h-5" id='post-url' name='post_url' />
    </div>
    <div class="form-group">
      <label for="image" id="upload-image" class="btn text-white h-5 mb-2">Upload Image</label>
      <input type="file" name="post_image" id="image" class="btn form-control text-white h-5 custom-file-upload">
    </div>
    <div class="mt-3">
      <textarea class="card w-100 h-50" name='text' placeholder='text'></textarea>
    </div>
    <button type='submit' id="create-new" class='btn w-25'>Create</button>
  </form>
</div>

</div>
<script src="/javascript/edit-user.js"></script>
<script src="/javascript/add-post.js"></script>