  {{#if posts.length}}
<section>
  <h2 class="card card-header container">Your Posts</h2>
  <div>
    {{#each posts as |post|}}
    <div class="card container post-content">
      {{> post-info post}}
    </div>
    <div class="container">
      <a href="/dashboard/edit/{{post.id}}" class="edit-link btn container card">Edit post</a>
    </div>
    {{/each}}
    <div class="container">
      <button class="btn w-25 p-3 mt-5" id="create-new">Add a post</button>
    </div>
</section>
{{/if}}
<div id="new-post-form">
    <h2 class="card-header container">New Post</h2>
  <form class='new-post-form form-input form-label container'>
    <div>
      <label for='post-title'>Title</label>
      <input class="card w-25 h-5" type='text' id='post-title' name='post-title' />
    </div>
    <div>
      <label for='post-url'>Link</label>
      <input class="card w-25 h-5" id='post-url' name='post-url' />
    </div>
    <div>
      <textarea class="card w-100 h-50" name='post-text' placeholder='text'></textarea>
    </div>
    <button type='submit' class='btn w-25 h-5'>Create</button>
  </form>
</div>
<script src="/javascript/add-post.js"></script>