<div id="edit-user-form" class="container">
  <h2 class="card-header" id="edit">
    Edit Account
  </h2>
  <form class="form-label container">
    <div class="form-input flex">
      <label for='username'>Username</label>
      <input class="card w-50 h-5" name="username" type="text" value="{{username}}"/>
      <br>
      <label for='email'>Email</label>
      <input class="card w-50 h-5" name="email" type="text" value="{{email}}"/>
      <br>
      <label for='password'>Password</label>
      <input class="card w-50 h-5" name="password" type="password" />
    </div>
    <button type="submit" class="btn w-25">Save</button>
    <button type="button" class="delete-post-btn btn w-25">Delete Account</button>
  </form>