<form class='login-form'>
  <div class="container">
    <p id="invalid-login"></p>
    <label class="form-label w-25" for='email-login'>email or username:</label>
    <input class='card form-input' type='text' id='email-login' />
  </div>
  <div class="container">
    <label class="form-label w-25" for='password-login'>password:</label>
    <input class="card form-input" type='password' id='password-login' />
  </div>
  <div class="container">
    <button type='submit' class="btn w-25">login</button>
    <div id="or">OR</div>
    <button id="show-signup-form" type="btn" class="btn w-25">signup</button>
  </div>
</form>

<form id='signup-form' class='signup-form form-label'>
  <div class="container">
    <label class="form-label w-25" for='username-signup'>username:</label>
    <input class="card form-input" type="'text" id='username-signup' />
  </div>
  <div class="container">
    <label class="form-label w-25" for='email-signup'>email:</label>
    <input class="card form-input" type='text' id='email-signup' />
  </div>
  <div class="container">
    <label class="form-label w-25" for='password-signup'>password:</label>
    <input class="card form-input" type='password' id='password-signup' />
  </div>
  <div class="container">
    <button type='submit' class="btn w-25">signup</button>
  </div>
</form>
<script src='/javascript/login.js'></script>