{{> post-info post}}

{{#if loggedIn}}
  <form class='comment-form container flex justify-center'>
    <div class="h-25 flex-row justify-center">
      <textarea class="card w-50 h-100" name='comment-body'></textarea>
      </div>
      <div class="flex-row justify-center">
      <button type='submit' class="btn w-25 mx-3">add comment</button>
      <p id="vote-alert"></p>
      <button type='button' class='upvote-btn btn w-25 mx-3'>upvote</button>
    </div>
  </form>
{{/if}}

{{>comments post.comments}}

{{#if loggedIn}}
  <script src='/javascript/comment.js'></script>
  <script src='/javascript/upvote.js'></script>
{{/if}}